body {
	background-color: #DBA77C;
}

h1 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: bold;
	color: #243B3B;
	font-size: 68px;
}

h2 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: bold;
	color: #FFFFFF;
	font-size: 33px;
}

h3 {
	font-family: 'Yanone Kaffeesatz';
	color: #FFFFFF;
	font-size: 104px;
	line-height: 0.9;
}

h4 {
	color: #243B3B;
}

#text-area {
	margin-top: 4em;
}

button {
	background-color: #243B3B;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 15px;
	margin-top: 20px;
}


p {
	font-size: 20px;
	
}

#images {
	width: 100%;
	margin-top: 100px;
	position: relative;
}

.smallimage{
	height: 60%;
	position: absolute;
	right: 46%;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	
}

#story {
	margin-top: 50px;
}


#bigimage {
	text-align: right;
}

hr {
	
	margin-top: 30px;
	margin-bottom: 30px;
	border-width: 20px;
	border-color: #FDDACD;
	width: 100%;
}

.menu {
	margin-top: 30px;
	margin-bottom: 50px;
}